[submodule "api-backend"]
	path = hrNet-backend 
	url = https://github.com/KhaeraB/P14-HrNet-BackEnd
[submodule "old-frontend"]
	path = projet_jQuery
	url = https://github.com/KhaeraB/P14_Front-end_HRNet